* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 120px;
    position: relative;
}

.botaoCalendario, .botaoLista, .botaoCadastrar {
    font-size: 1rem; /* Tamanho flexível */
    border: none;
    cursor: pointer;
    background-color: #F6F4F4;
    width: 80%; /* Reduzindo largura para adaptar a telas menores */
    max-width: 527px; /* limita a largura máxima para telas grandes */
    height: 40px;
    margin: 10px auto; /* add espaçamento automático para centralizar */
    display: block; /*  centralizar o botão */
}

.botaoLista:hover, .botaoCadastrar:hover, .botaoCalendario:hover{
    background-color: rgb(148, 144, 144);
    color: white;
}
/* Responsividade para diferentes tamanhos de tela */
@media (max-width: 768px) {
    .header {
        height: auto;
        padding: 20px;
    }
    
    .botaoCalendario, .botaoLista, .botaoCadastrar, .botaoVagas {
        width: 90%; /* largura maior em telas pequenas */
        font-size: 0.9rem; /* Ajusta o tamanho do texto */
    }
}